{% assign is_checkout = is_checkout | default: false %}
<script async src="https://cdn.getivy.de/button.js"></script>
<button type="button" class="ivy-express-checkout ivy-checkout-button" data-locale="{{ request.locale.iso_code }}" data-type="{{ type }}" data-us-checkout="true"
  {% if type == 'product' %}data-product="{{ handle }}" data-shopify-variant="{{ variantId }}"{% endif %}
  {% if is_checkout %}data-position="above"{% endif %}></button> 