<div
  class="ivy-banner"
  data-variant="{{ type }}"
  data-locale="{{ request.locale.iso_code }}"
  style="padding-bottom: 10px; animation-"></div>
<script
  src="https://cdn.dev.getivy.de/banner.js"
  onload="initIvy()"
  onChange="initIvy()"
  defer
  async></script>
<style>
  .css-1htm71k {
    animation-duration: 24s;
  }
</style>
