# Ignore all
*
# Whitelist for all files that should be overwritten
!.gitignore
!/snippets/ivy-checkout.liquid
!/snippets/ivy-checkout-pm-step.liquid
!/snippets/ivy-express-button.liquid
!/snippets/ivy-banner.liquid

!README.md