# Ignore all
*
# Whitelist for all files that should be overwritten
!.gitignore
!/assets/ivy-express.js.liquid
!/snippets/ivy-checkout-review-step.liquid
!/snippets/ivy-checkout-pm-step.liquid
!/snippets/ivy-express-button.liquid

!README.md